/*
    === SOURCES ===
*/

/* https://github.com/jensimmons/cssremedy */
/* https://github.com/necolas/normalize.css/ */
/* https://github.com/sindresorhus/modern-normalize */
/* https://www.w3schools.com/cssref/css_default_values.asp */
/* https://www.youtube.com/shorts/2lyDv0wOQuQ */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* https://www.freecodecamp.org/news/html-page-width-height/ */
/* https://css-tricks.com/html-vs-body-in-css/ */

/*
    === LEGACY FIXES ===
*/

[hidden] {
    display: none; /* Add the correct display in Edge, IE 10+, and Firefox. */
}

a {
    background-color: transparent; /*  Remove the gray background on active links in IE 10. */
}

img {
    border-style: none; /* Remove the border on images inside links in IE 10. */
}

svg {
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box; /*  Add the correct box sizing in IE 10 */
    padding: 0; /* Remove the padding in IE 10 */
}

/*
    === RESET ===
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; /*  Prevent adjustments of font size after orientation changes in iOS. */
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a, :link, :visited {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img, picture, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

img, svg, video, canvas {
    height: auto;
}

audio:not([controls]) {
    display: none;
}
